/*div {*/
/*    border-style: solid;*/
/*    border-color: red;*/
/*}*/

.about-me-body {
    display: flex;
}

.nav-bar {
    width : 32.47vw;
    height : 32.47vw;
    display: flex;
    padding-left: 4vw;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.nav-button {
    border-color: gray;
    border-style: solid;
    padding: 15px;
    width: 150px;
    text-align: center;
    border-radius: 15px;
    background-color: lightgray;
    opacity: 0.80;
    cursor: pointer;
}

.main-content {
    /*background-color: lightgray;*/
    color: purple;
    /*height: 32.47vw;*/
    margin-top: -7.53vw;
    height: 40vw;
    width: 52.53vw;
    overflow-y: scroll;
}

.scroll-bar-indicator
{
	display: none;
}

.gradientback{
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(1,1,1,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 100%); /* W3C */
    color: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.entry-description {
    font-style: italic;
}